.Product {
    // display: flex;
    // list-style-type: none;
    list-style-type: none;
    background: #e7e5e5;
    border-radius: 10px;
    margin-top: 50px;
    padding: 15px;
}


.Product figure {
    margin: 15px 0;
}

.Product-cover {
    object-fit: contain;
    border-radius: 15px;
    width: 100%;
    height: 100px;
}

.Product-title {
    position: relative;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    width: 240px;
    color: rgb(23, 23, 23);
    margin: 20px;

}
.Product-buttons{
    display: flex;
    align-items: center;
    .add_to_list {
        background-color: rgb(53, 170, 53);
        color: white;
        display: block;
        margin: 0 auto;
        padding: 10px 15px;
        border: none;
        border-radius: 20px;
        font-weight: 700;
    }

    .add_to_favorit{
        border: none;
        background: transparent;
        color: red
    }
}

