@import "../Conf.scss";
@import "../App.scss";


.Header-Img-About {
    position:relative;
    background-image: url('../../assets/backgroundAbout.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0 auto;
    padding: 25px;
    height: 223px;
    opacity: 0.9;
    border-radius: 25px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
     
      button{
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 24px;
          font-weight: 500;
          line-height: 34.22px;
          color: white;
          width: 100%;
          margin-top:40px;

          .expand{
            content:url('../../assets/expanIcon.svg');
            position: relative;
            top:0px;
            width: 37px;
            height: 36px;
            transition: all 0.5s;
          }

      }
        button[aria-expanded="true"] .expand{
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        transform: rotateX(180deg);

      }




      .card-body{
        position: relative;
        bottom:10px;
        z-index:-1;
        font-size: 24px;
        font-weight: 400;
        line-height: 34.22px;
        text-align: initial;
        padding-top:30px;
        background:#F7F7F7;
        color:$primary
      }
}


