body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

code {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 844px){
  body{
    margin :0 20px;
  }
}
$primary : #FF6060;
