body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  background-color: lightgray;
}
h1,h2,h3,h4,h5{
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 844px){
  body{
    margin :0 20px;
  }
}
$primary : #FF6060;
