body {
  margin: 0;
  font-family: "Lato", sans-serif !important;
  background-color: rgb(244, 244, 244);
}
h3{
  font-family: "Just Another Hand", cursive;
  font-weight: 500;
  font-style: normal;
}

code {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 844px){
  body{
    margin :0 20px;
  }
}
$primary : #FF6060;
